/* add new ticket */

.header-box{
    display: flex !important;
    justify-content: space-between !important;
    margin-bottom: 10px !important;
    align-items: center !important;
}

.alert-department{
    background-color: #fff3cd !important;
    border-radius: 6px !important;
    margin-top: 8px !important;
    display: none ;
}
#lable_dec{
    margin-bottom: 0px !important;
}
#wp-tkm-content-wrap{
    margin-bottom: 0px !important;
}
input[type="file"] {
  display: none !important;
}
.new-ticket-submit{
    background-color:#0080ff !important;
    color:white !important;
    width: 100% !important;
    border-radius: 10px !important;
    margin-top: 20px !important;
}

  .form-group{
    display: flex !important;
    flex-direction: column !important;
  }
  .child-department-1:not(child-department-0){
    display: none ;
  }
 
  .alert-notf-department{
    background-color: #f8d7da !important;
    border-radius: 10px !important;
    margin: 5px !important;
    height: 50px !important;
    padding: 10px !important;
    margin-bottom: 14px !important;

  }
  .loader-submit{
    display: none ;
    margin-left: 10px ;
  }
/* new style design */

.box-status{
    background-color: #f2f2f2 !important;
    width:200px !important;
    border-radius:10px !important;
    height:150px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin-right: 15px !important;
    
}
.btn-eye{
    background-color: #2A48CD !important;
    border-radius: 16px !important;
    color: white !important;
    margin-top: -5px !important;
    margin-right: 7px !important;
}
.btn-eye:hover{
    background-color: #2A48CD !important;
    border-radius: 16px !important;
    color: white !important;
}
.tk_right{
    margin-left: 15px ; 
    width: 150px ;
    word-wrap: break-word ;
    overflow-wrap: break-word ;
    white-space: normal ;
}

.ticket_mobile{
    display: none;
}

.tk_center {
    display: flex !important;
    align-items: start !important;
    justify-content: center !important;
    padding-bottom: 15px  !important;

}

.box-status-1{
    background-color: #f2f2f2 !important;
    width:200px !important;
    border-radius:10px !important;
    height:150px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0px !important;
}
.box_icon{
    width:50px !important;
}
.number-status{
    font-size: 18px !important;
    margin-top: 10px !important ;
    color: black !important;
}
.name-status{
    margin-top: 10px !important;
    font-size: 16px !important;
    margin-bottom: 0px !important ;
    text-align: center;
}
.text-right{
    text-align: right !important;
}
.create_date{
    margin-left: 5px !important ;
    text-align: center !important;
}
.status_circle_box{
    margin-top: -5px !important;
    display: flex !important;
    margin-left: 20px;
}
.main_circle{
    margin-left: 6px !important;
}
.circle{
    width: 8px  !important;
    height: 8px !important;
    border-radius: 50% !important;
    display: inline-block;
}

.header_main .filter {
    height: 68px !important;
    width: 160px !important;
    border-radius:16px  !important;
   margin-right:12px !important;
   padding-right: 7px !important;
   color: black !important;
}

input.search-input {
  width: 160px !important;    
  height: 68px !important;
  margin-right:12px !important;
}
#tkm-filter-btn{
background-color: #2a48cd !important ;
cursor: pointer !important ;
color: white !important ;
width:100px  ;    
height: 68px !important ;
border-radius:16px !important  ;
margin-right: 12px !important ;
border: 0px !important;
margin-left: 10px !important;
}
#tkm-filter-btn:hover{
    background-color: #2a48cd !important ;

}
.header_main{
padding-top: 10px !important;

}
.list_tickets{
    margin-bottom: 20px !important;
}
.status-ticket {
    margin-bottom: 10px !important;
}
.page-numbers li{
    background-color: white !important;
    margin-bottom: 10px !important;
    width: 30px !important;
    height: 30px !important;
    display: flex !important;
    border-radius: 40px !important;
    justify-content: center !important;
    align-items: center !important;
    text-decoration: none !important;
    
    
}
 .link_page .page-numbers{
    display: flex !important;
    justify-content: center !important;
    text-decoration: none !important;

}
.link_page .page-numbers li{
  margin-right: 7px !important;
  text-decoration: none !important;

  
}

.header_main input[type=text] {
    box-sizing: border-box !important;
    border: 2px solid #ccc !important;
    border-radius: 4px !important;
    font-size: 16px !important;
    background-color: white !important;
    background-image: url(../images/search-normal.svg) !important;
    background-position: 10px 50% !important; 
    background-repeat: no-repeat !important;
    padding: 12px 20px 12px 40px !important;
  }
.no-tickets{
    display: flex !important;
    box-shadow: 3px 3px 10px 3px #dddddd !important;
    border-radius:16px  !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;

}
.ticket{
    border: 1px solid rgba(0, 0, 0, 0.178) !important;
    padding: 20px !important;
    padding-bottom: 0px !important;
    border-radius: 16px !important;
    display: flex;
}
.title-ticket{
    font-size: 18px !important;
    width: 100%;
}

.department-name{
    font-size: 14px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.create_date{
    font-size: 15px !important;
}
.username{
    font-size: 15px !important; 
    color: black !important;
    margin-top: -17px !important;
    width: 70px !important;
    word-wrap: break-word !important;
    margin-left: 35px !important;


}
.status_name{
    word-wrap: break-word !important;
}

.btn-ticket-show{
    font-size: 15px !important;

}
.back_link{
text-decoration: none !important;
color: black;
}
.user_avatar{
    width:60px !important;
    aspect-ratio: 1 / 1 !important;
    margin-left:10px !important;
    margin-top: -20px !important;
    border-radius: 50% !important;
}
.tk_center{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.right-2{
height: 40px !important;
margin-top: -10px !important;
align-items: center !important;
}



.text-header{
    line-height: 30px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
/* new style for singel ticket */
.btn_show_tickets{
    background-color:#2947cc  !important;
    color: white !important;
    padding:  10px  !important;
    border-radius: 6px !important;
    text-decoration: none !important ;
    text-align: center;
}
.btn_show_tickets:hover{
    background-color:#2947cc  !important;
    color: white !important;
    padding:  10px  !important;
    border-radius: 6px !important;
}
.header_1{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205) !important;
    padding-bottom: 10px !important;
}
.alert-info{
    background-color: #d1ecf1 !important;
    border-radius: 6px !important;
    margin-top: 20px !important;
    
}
.alert_message{
    padding: 10px !important;
    color: black !important;
}
.faqs{
    margin-top: 30px !important;
    font-size: 18px !important ;
    color: black !important;
  }
  .title_faq{
    font-size: 14px !important;
    padding-bottom: 0px !important;
  }

  .accordion {
    border-radius: 6px  !important;
    padding:10px !important ;
    cursor: pointer !important;
    background-color: #2947cc !important;
    color: white !important;
    font-weight: bold !important;
    display: flex !important;
    justify-content: space-between !important;
    margin-top: 10px !important;

  }
  .accordion:hover {
    background-color: #2947ccea ;
  }
  .accordion-content {
    display: none ;
    background-color: #eeeeeeb7 !important;
    border-radius:6px  ;
    margin-top: 7px ;
    
  }
  .body_faq{
    padding:  10px  !important ;
    margin-bottom: 10 !important;
    color: black !important;
  }
 
  .sec-not-faqs{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 30px !important;
  }
  .btn-not-faqs{
    background-color:#cc2947  !important;
    color: white !important ;
    padding: 10px !important;
    border-radius: 8px !important;
    width: 30% ;
    text-align: center !important;
  }
  .alert-notf-department{
    margin-top: 15px !important;
  }
  .btn-not-faqs:hover{
    background-color:#cc2947  !important;
    color: white !important;
    padding: 10px !important;
    border-radius: 8px !important;
  }
  .tkm_label{
    margin-top: 12px !important;
    margin-bottom: 12px !important ; 
    font-size: 16px !important;
    font-weight: 400 !important;
  }
  .container-ticket{
    margin-top: 30px !important;
  }
  .select1{
    border:1px solid #666666a1!important;

  }
  .importance{
    width: 100% !important;
  }
  .container-ticket select{
height: 50px !important;
border-radius: 6px !important ;
  }
  .container-ticket option{
    font-size: 14px !important;
  }
  .container-ticket input{
    height: 50px !important;
    border-radius: 6px !important ;
 }
 .alert-department{
    background-color: #fff3cd !important;
    border-radius: 6px !important;
    margin-top: 8px !important;
    display: none ;
    
}
.message_alert{
   padding: 10px !important ;
   margin-bottom: 0px !important ;
}
.priority_label{
    margin-top: 0px !important;
}
.description_label{
    margin-top:-0px !important;

}
.title_new_ticket {
    width: 100% !important;
}

.tkm_label_2{
    margin-top: 10px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    margin-bottom: 7px !important;
}
.tkm_input_form{
    margin-bottom: 12px !important; 
    padding: 10px !important;
    border:1px solid #666666a1!important;
    width: 100% !important;
    margin-top: 7px ;
}
.ticket-content{
    margin-top: -10px;
}
.sec2{
    margin-top: 10px !important;
}
#ticket-content{
    height: 350px !important;
    border-radius: 6px !important ;
    width:  100% !important;
}
.file_box{
    background-color: #d1ecf1  !important;
    display: flex !important;
    justify-content: center !important;
    border: dotted rgba(0, 0, 0, 0.11) !important;
    padding: 50px !important;
    align-items: center !important;
    border-radius: 6px !important;
    margin-top: 12px !important;
}



.custom-file-upload{
    display: flex !important;
    align-items: center !important;
    padding: 10px ;
    border-radius: 6px !important;
    gap: 5px !important;
    color: white !important;
    background-color: #2947cc !important;
    border: 0px !important;
    margin: 0px !important;
}
.custom-file-upload::after{
    display: flex !important;
    align-items: center !important;
    padding: 10px ;
    border-radius: 6px !important;
    gap: 5px !important;
    color: white !important;
    background-color: #2947cc !important;
    margin: 0px !important;
    border: 0px !important;


}
.custom-file-upload:hover{
    display: flex !important;
    align-items: center !important;
    padding: 10px ;
    border-radius: 6px !important;
    gap: 5px !important;
    color: white !important;
    background-color: #2947cc !important;
    margin-right: 10px ;    border: 0px !important;

}
.icon_upload{
    margin-right: 5px !important;
}
.voice_btn{
    margin-right: 10px !important;
}
.tkm-submit-ticket{
    padding: 15px !important  ;
    width: 100% !important  ;
    background-color: #2947cc !important;
    color: white !important ;
    border-radius: 6px !important  ;
    display: flex   !important;
    flex-direction: row-reverse !important;
    justify-content: center !important  ;
    align-items: center !important  ;
    border: 0px !important ;
    margin-top: -15px !important;
    margin-bottom: 30px !important;
}
.tkm-submit-ticket:hover{
    padding: 15px  !important;
    width: 100% !important;
    background-color: #2947cc !important;
    color: white !important;
    border-radius: 6px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.icon_send{
    margin-left: 10px !important;
}

/* send voice style */

#popup {
    display: none ;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background-color: #2a48cd !important;
    padding: 20px !important;
    border-radius: 6px !important;
    color: white !important;
    text-align: center !important;
    z-index: 1000 !important;
}
#popup h2 {
    color: white !important;
}
#popup button {
    margin-top: 10px !important;
}
#closePopup{
    width: 50px !important;
    background-color: white !important;
    color: black !important;
    border-radius:6px !important;
    padding: 5px !important;
}
#startRecording{
    background-color: white !important;
    color: black !important;
    padding:9px 20px  !important;
    margin-left: 10px !important;
    border-radius:6px !important;


}
#stopRecording{
    background-color: white !important;
    color: black !important;
    padding:9px 20px  !important;
    border-radius:6px !important;

}
#audioPlayback{
    margin-top: 10px !important;
}
#deleteRecording{
    background-color: white !important;
    color: black !important;
    padding:9px  !important;
    border-radius:6px !important;

}
.timerContainer{
    margin-bottom: 15px !important;
}
.box_audio{
    display: flex !important;
    justify-content: center !important;
    margin-top: 10px !important;
}

/* single page style */
.loader{
    display: none ;
}
.main_single_ticket{
  display: flex !important;
  align-items: start !important;
  gap: 15px !important;
}
.tkm_right_single{
    flex: 1 !important;
    width: 100% !important;
}
.tkm_left_single{
    width: 295px ;
    background-color: #d3eef2 !important;
    border: dotted rgba(0, 0, 0, 0.11) !important;
    border-radius: 6px !important;
    padding: 15px !important;
    color: black !important;
    overflow: hidden;
}
.ability_ticket{
    margin-bottom: 10px !important;
}
#priority_ability{
    margin-top: 0px !important;

}
.tkm_title_ticket{
    border-bottom: 1px solid rgba(0, 0, 0, 0.267) !important;
    padding-bottom: 10px !important;
    margin-bottom: 20px  !important;
    font-weight: bold;
    font-size: 22px;
    color: black;
}
.response-item-chat{
    background:  #f0f0f0 !important;
    border: solid 1px #2947cc41;
    border-radius: 6px !important;
    padding: 10px !important;
    margin-top: -6px !important;
    margin-bottom: 30px !important;
}
.divider {
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
    margin-bottom: 12px;
}

.divider hr {
    flex: 1 !important;
    border: 1px solid #2947cc8a !important;
    margin: 0 10px !important; /* فاصله بین متن و خطوط */

}

.divider span {
    padding: 0 10px !important; /* فاصله در اطراف متن */
    color: #333 !important;
    font-weight: bold !important;

}
.item-reply-ticket{
    margin-top: 15px !important;
    background:  #f0f0f0 !important;
    border: solid 1px #2947cc41;
    border-radius: 6px !important;
    padding: 10px !important;
    margin-bottom: 15px !important;
    
}
.tkm_user_name{
    display: flex !important;
    align-items: center !important;
    margin-bottom: 5px !important ;
    
}
.icon_user_name{
    margin-left: 5px !important;
}
.timestamp{
    margin-bottom: 3px !important ;
    margin-top: 8px !important;
}
.text_body_reply{
    margin-bottom: 10px !important;
}
.byn_send_reply{
    padding: 12px 20px  !important;
    background-color: #2947cc !important;
    border-radius: 16px !important;
    justify-content: center !important;
    display: flex !important;
    align-items: center !important;
    border-radius: 6px !important;
    flex-direction: row-reverse !important;
    color: white !important ;
    margin-top: 13px !important;
    width: 100% !important;
}
.byn_send_reply:hover{
    padding: 12px 20px  !important;
    background-color: #2947cc !important;
    border-radius: 6px !important;
    color: white !important;
}
.btn_reply_box{
    display: flex !important;
    justify-content: center !important;
    margin-bottom: 20px !important;
}
.tkm_item_send_form{
    display: none ;
}
.tkm_text_reply{
    padding: 10px !important;
    margin-bottom: 10px !important;
    border-radius: 6px !important ;
    width: 100% !important;
    border:1px solid #666666a1!important;

}
.file_reply{
    margin-bottom: 15px !important;
}
.items_reply{
    background-color: #d3eef2 !important;
    border: dotted rgba(0, 0, 0, 0.11) !important;
    border-radius: 6px !important;
    padding: 20px 10px  !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 12px !important;
    align-items: center !important;
}
.items_reply:hover{
    background-color: #d3eef2 !important;
    border: dotted rgba(0, 0, 0, 0.11) !important;
    border-radius: 6px !important;
    padding: 20px 10px  !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 12px !important;

}
.text_file:hover{
    color: black !important;
}
.submit-reply{
    width: 100% !important ;
    color: white !important ;
    background-color: #2947cc !important ;
    border-radius: 6px !important ;
    padding: 10px !important ;
    display: flex  ;
    align-items: center !important ;
    justify-content: center !important ;
    flex-direction: row-reverse !important ;
    gap: 6px !important;
    border:0px !important ;
}
.submit-reply:hover{
    width: 100%  ;
    color: white !important ;
    background-color: #2947cc !important ;
    border-radius: 6px  ;
    padding: 10px;
}
.item_cloes{
    display: flex !important;
    align-items: center !important;
    gap: 5px !important;
}
.btn_send_voice{
    display: flex !important ;
    align-items: center !important ;
    padding: 10px !important ;
    border-radius: 6px !important ;
    gap: 5px !important ;
    color: white !important ;
    background-color: #2947cc !important ;
    border: 0px !important ;
    margin: 0px !important;
}
.btn_send_voice:hover{
    display: flex !important;
    align-items: center !important;
    padding: 10px !important;
    border-radius: 6px !important;
    gap: 5px !important;
    color: white !important;
    background-color: #2947cc !important;
}
#startRecording{
    border: 0px !important ;
}
#stopRecording{
    border: 0px !important ;
}
#deleteRecording{
    border: 0px !important ;
}
#closePopup{
    border: 0px !important ;
}
.file_upload_reply{
    display: flex !important;
    align-items: center !important;
    padding: 10px !important;
    border-radius: 6px !important;
    gap: 5px !important;
    color: white !important;
    background-color: #2947cc !important;
    margin: 0px !important;
}
.label_cloes{
    font-size: 16px !important;
    margin: 0px !important;

}
.title_voice{
    font-size: 25px !important;
    margin-bottom: 10px !important;
}
.cloes_items{
    display: flex  !important;
    align-items: center !important;
    gap: 5px !important;
    margin-bottom: 15px !important;
    margin-top: -10px !important;
    justify-content: right !important;
}
.link_file_ticket{
    color: #2947cc !important;
}

.voice_ticket{
    border: 1px rgba(0, 0, 0, 0.363) solid !important;
    border-radius: 6px !important;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}
.reply_time{
    margin-top: 7px !important;
}
.main_tickets {
margin-bottom: 20px !important ;
padding-bottom: 10px !important;
}
.right-2{
    height: 0px !important ;
    margin-top: 0px !important ;
    margin-left: -10px !important;
}
.create_date{
    margin-left: 15px !important;
    color: black !important;

}
.title-page-tickets{
margin-bottom: 10px !important;
color: black !important;
}

.link-title{
    color: black !important;

}
.link-title:hover{
    color: #2947cc !important;
    cursor: pointer !important;
}
.header_tkm {
    border-bottom: 1px solid rgba(0, 0, 0, 0.116) !important;
    margin-bottom: 15px !important;
    padding-bottom: 15px !important;
}
.back_box a{
display: flex !important;
margin-bottom: 13px  !important;
gap: 7px !important;
}
.back_box a:hover{
    display: flex;
    margin-bottom: 13px ;
    gap: 7px;
    color: #2947cc;
    }
    .body_ticket_text{
        margin-bottom: 10px !important;
        color: black;
    }
    .link-title{
        white-space: normal
        ;;
    }
    .box-status-1{
        border: 1px solid rgba(0, 0, 0, 0.123) !important;

    }
    .box-status{
        border: 1px solid rgba(0, 0, 0, 0.123) !important;

    }
    .tkm-rating-form {
        width: 295px ;
        display: flex;
        flex-direction: column;
        margin-top: 10px !important;
        padding: 15px !important;
        background-color: #fff3cc !important;
        border: dotted rgba(0, 0, 0, 0.11) !important;
        border-radius: 8px !important;
        text-align: center !important;
        justify-content: center;
        align-items: center;
    }
    .rate_img{
        width: 60px;
        margin-bottom: 15px;
    }
    .user_avatar_reply{
        width: 30px;
        aspect-ratio: 1 / 1 !important;
        margin-left:5px !important;
        border-radius: 50% !important;
    }
    .title_rating{
        margin-bottom: 5px!important;
    }
    
    .tkm-stars {
        font-size: 2em !important;
        cursor: pointer  !important;
        margin-bottom: 5px  !important;
    }
    
    .tkm-stars .star {
        color: #ccc  !important;
        display: inline-block  !important;
        transition: color 0.3s  !important;
    }
    
    .tkm-stars .star.active,
    .tkm-stars  ~ .star,
    .tkm-stars .star:hover {
        color: #ffc107  !important;
    }
    
    .tkm-submit-button {
        margin-top: 10px  !important;
        padding: 8px 15px  !important;
        background-color: #f8b400  !important;
        border: none  !important;
        color: white  !important;
        border-radius: 5px  !important;
        cursor: pointer !important;
    }
  
    
    .tkm-submit-button:hover {
        background-color: #ffd257  !important;
    }
    #rating-container {
        margin-top: 5px !important;
        direction: ltr  !important; /* شروع از راست */
        font-size: 24px  !important;
        color: #ccc  !important; /* رنگ پیش‌فرض ستاره‌ها */
        font-size: 2em !important;
    }
    
    #rating-container .star {
        display: inline-block !important;
        cursor: default !important;
    }
    
    #rating-container .star.filled {
        color: gold  !important; /* رنگ ستاره‌های پرشده */
    }
    #wp-ticket-content-wrap{
        margin-top: -20px !important;
    }
    #wp-body-wrap{
        margin-bottom: 15px !important;
    }
    .bot{
        margin-top: 20px !important;
    }
/* resposive tickets  */
@media only screen and (max-width:768px) {
    .form-filter{
        display: flex !important;
        flex-wrap: wrap !important;
        gap: 0px !important;
        justify-content: space-between !important;
        padding: 3px !important;
    }
    .filter{
        flex: 1 1 auto  !important;
        margin-block: 7px !important;
        margin-inline: 5px !important;
    }
    .tkm-filter-btn{
        width: 100% !important ;
        margin-top: 10px !important;
    }
    .header_tkm{
        display: flex !important;
        flex-direction: column !important;
        margin-bottom: 10px !important;
    }
    .new-ticket-btn{
        margin: 0px !important;
        width: 100% !important ;
        border-radius: 16px  !important;

    }
    .passage_status{
        display: flex !important;
        margin-top: 20px !important;
    }
    .box-status{
        margin: 0px !important;
        display: flex !important;
        margin-top: 10px !important;
    }
    .passage_status{
      display: flex !important;
      width: 100% !important;
      flex-wrap: wrap !important;
      align-items: center !important;
      justify-content: center !important;

    }
    .header-left{
        margin-top: 0px  ;
        margin-bottom: 0px !important ;
        width: 100% !important;
    }
    #btn-show{
        display: none !important;
    }
    .user_avatar{
        display: none !important;
    }
   
 
    .create_date{
        margin-left: 2px !important ;
        margin-right: 5px  !important;
    }
  
    .box-status-1{
        width: 30% !important;
        margin: 5px !important;
    }
    .box-status{
        width:30% !important;
        margin: 5px !important;

    }
    /* singel page */
    .main_single_ticket{
        flex-direction: column-reverse !important;
    }
    .main_single_ticket{
        margin-top: 20px !important;

    }
    .response-item-chat{
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
    
    .tkm_left_single{
        width: 100% ;
        margin-bottom: 10px;
    }
    .items_left{
        width: 100% !important;
    }
  .ticket{
    display: none;
  }
  .create_date{
    margin-left: 10px !important ;
    text-align: center !important;
    margin-right: 10px !important;
  }
  
  .right-2{
    margin-right: 15px !important;
  }
  .title-ticket{
    margin-left: 50px ;
  }
  #tkm-filter-btn{
    width: 100%;
  }
  .header-left{
    margin-top: 10px ;
  }
  .btn-not-faqs{
    width: 100%  ;
  }
  .ticket_mobile{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.178) !important;
    padding: 20px !important;
    border-radius: 16px !important;
    margin: 17px !important;
    align-items: center !important;
    gap: 10px;
  }
  .right_mobile{
    width: 100px !important;
  }
  .link_title_mobile{
    color: black ;
  }
  .link_title_mobile:hover{
    color:#2947cc  ;
  }
  .department_name_mobile{
    margin-top:15px !important ;
  }
  .right_text{
    width: 100px !important;
    word-wrap: break-word !important;
  }
  .center_mobile{
    display: flex  !important;
    align-items: center !important;
    
  }
  .create_date_mobile{
    text-align: center !important ;
  }
  .left_mobile{
    align-items: center  !important;
  }
  .circle_mobile{
    width: 8px  !important;
    height: 8px !important;
    border-radius: 50% !important;
    display: inline-block !important;
    margin-left: 5px !important;
}
.left_2_mobile{
    display:  flex !important;
}
.username_mobile{
    word-wrap: break-word !important;
    width: 55px !important;
}
.status_name_mobile{
    word-wrap: break-word !important;
    width: 32px !important;
    margin-left: 3px !important;
}
.custom-file-upload{
    padding: 10px ;
    border: 0px !important;

}
.user_label{
    width: 89% ;
}
.tkm-rating-form{
    width: 100% !important;
}
   
}
